/* badUx.css */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  width: 1000px;
  color: gray;
  margin: 2rem;

}

h1 {
  color: rgb(103, 192, 140);
  text-align: center;
  font-size: 80px;
}

h2 {
  color: rgba(105, 221, 153, 0.438);
  font-size: 30px;
}

h3 {
    color: rgba(236, 123, 123, 0.438);
    font-size: 25px;
}

.intro {
    font-size: 20px;
    
    text-align: center;
}

img {
  
  width: 100%;
  height: auto;
  border-radius: 8px;
}

form {
  background-color: white;
}

.recipe-of-the-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-size: 18px;
}

form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  
}

form input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border-color: 2px solid gray;
}

form button {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 4px;
    background-color: rgba(224, 20, 20, 0.438);
    color: white;
}
