.hero-banner {
  display: grid;
  grid-template-columns: 1fr;
}

.hero-banner > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.hero-banner__content {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.hero-banner__title {
  font-size: 2rem;
}

.hero-banner__subtitle {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.hero-banner__subtitle span {
  padding: 0.25rem;
}

.banner-nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.banner-nav a:link, 
.banner-nav a:visited {
  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
}

/* Global nav styles */

.global-nav {
  background-color: black;
  display: flex;

  width: 100%;
  grid-column: 1/3;
  border-top: 1px solid #333;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.global-nav__split-button a {
  text-decoration: none;
  color: white;
}

.global-nav button {
  background-color: transparent;
  border: 0;
  padding: 1rem;
  cursor: pointer;
}

.global-nav svg {
  --icon-color: white;
}

.global-nav__toggle--closed {
  display: flex;
  align-items: center;
}
.global-nav__toggle--open {
  display: none;
  align-items: center;
}

.global-nav__toggle[aria-expanded="true"] > .global-nav__toggle--open {
  display: flex;
}

.global-nav__toggle[aria-expanded="true"] > .global-nav__toggle--closed {
  display: none;
}

.global-nav.show {
  max-height: 1000px;
}

.park-nav {
  display: flex;
  gap: 1.5rem;
  padding: 1.2rem;
  
}

.park-nav a {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  font-size: 0.95rem;
  justify-content: space-evenly;
}

main {
  padding: 1rem;
}

main p {
  font-family: var(--bs-font-serif);
}

.intro {
  padding: 1.2rem;
}

.park-info {
  display: block;
}


@media screen and (min-width: 1000px) {
  .global-nav {
    display: flex;
  }

  .global-nav__split-button__toggle  {
  background-color: transparent;
  }

  /*Park nav - media cards*/
  .park-info {
    display: flex;
    gap: 1rem;
    /*align-items: stretch;   /* make all cards same height */
  }

}